@model WebResource
@{
    ViewData["Title"] = "Edit Web resource";
}

<div class="panel panel-default">
    <div class="panel-heading"><h2>Edit Web resource</h2></div>

    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("EditWebResourcePartial", Model)
    </div>
</div>
